body {
  width: 100%;
  height: 100%;
  margin: 0;
}

section {
  width: 100%;
  height: 100%;
  margin-bottom: 7%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
}

label {
  font-size: 9px;
}

header {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  z-index: 100;
}

.logo {
  width: 150px;
  height: 100%;
  margin: 1px 0;
}

.header-menu {
  display: flex;
  position: relative;
  top: 10px;
  margin-left: 5%;
}

.header-navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: white;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: unset;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
.header-navi a {
  color: white;
  text-decoration: none;
}
.header-navi a:hover {
  color: rgba(66, 224, 203, 0.89);
}
.header-navi ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-navi ul.header-nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px white;
}
.header-navi ul.header-nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px white;
}
.header-navi ul.header-nav-sns li {
  padding: 5px 0;
}

.header-hamburger {
  display: block;
  position: fixed;
  right: 5%;
  width: 30px;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

.header-nav-bar {
  width: 27px;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 5%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.header-nav-bar:nth-child(1) {
  top: 12px;
}
.header-nav-bar:nth-child(2) {
  top: 22px;
}
.header-nav-bar:nth-child(3) {
  top: 32px;
}

.open .header-navi {
  left: 0;
  opacity: 1;
}

.open .header-hamburger span {
  background-color: #fff;
}

.open .header-hamburger span:nth-child(1) {
  transform: translateY(10px) rotate(-315deg);
}

.open .header-hamburger span:nth-child(2) {
  opacity: 0;
}

.open .header-hamburger span:nth-child(3) {
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

.movie {
  padding-top: 70px;
}

.video {
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

video:hover::-webkit-media-controls {
  display: initial !important;
}

.pickup {
  width: 100%;
  height: 100%;
  padding: 100px 0 50px 0;
  padding-top: 70px;
  margin-top: -70px;
  overflow: hidden;
}

.pickup_pic {
  font-size: 0;
}
.pickup_pic li {
  padding: 0 30px;
}

.feature {
  max-width: 70%;
  padding: 50px 16px 50px 16px;
  margin: -50px auto 70px auto;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.feature-grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
}
.feature-grid .feature-item {
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
}
.feature-grid img {
  max-width: 100%;
}
.feature-grid .feature-item-content {
  height: 150px;
  padding: 0 20px;
}
.feature-grid .feature-item-cat {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
.feature-grid .feature-item-text {
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.feature-grid .feature-item-date {
  font-size: 0.75rem;
  text-align: right;
}

.back-btn {
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-btn a {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.displayOn {
  opacity: 0;
  transition: all 1s;
  z-index: 100;
}

footer {
  background-color: black;
  color: white;
  margin-top: -70px;
  padding: 70px 0 5px 0;
}
footer h2 {
  color: white;
}

.footer-contents {
  display: flex;
  padding: 0 20px;
}
.footer-contents p {
  font-size: 9px;
}

.footer-contents-text {
  width: 40%;
  padding: 0 20px 0 50px;
}
.footer-contents-text p {
  margin-bottom: 20px;
}

.footer-contents-form {
  width: 40%;
  padding: 0 0 0 20px;
}

.footer-form-send {
  width: 150px;
  height: 30px;
  border: 1px solid white;
  margin-top: 20px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form-send:hover {
  background-color: white;
  color: black;
}

.textbox {
  width: 100%;
  height: 23px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 40px;
}

.copyright {
  font-size: 9px;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .header-navi {
    width: 100%;
    height: 100%;
  }
  .header-navi ul.header-nav-menu {
    margin: 20px 0;
    width: 80%;
  }
  .header-navi ul.header-nav-menu li {
    width: 100%;
    padding: 10px 0;
  }
  .header-navi ul.header-nav-sns {
    position: fixed;
    bottom: 25px;
    left: 25px;
  }
  .video {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 130vh;
  }
  .feature {
    max-width: 90%;
    padding: 50px 0;
  }
  .feature-grid {
    display: block;
  }
  .feature-item {
    margin: 30px 0;
  }
  .feature-item .feature-item-content > p {
    font-size: 16px;
  }
  .footer-contents {
    display: inline;
    padding: 0;
  }
  .footer-contents-text,
  .footer-contents-form {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .footer-form-send {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */